html {
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
    /* background-color: #22252e; */
}

/* Login section */
.login-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.login-container {
    background-color: #fff;
    height: 90vh;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-img {
    width: 100%;
    background-image: url('../img/wp1.jpg');    
    background-repeat: no-repeat;
    background-size: cover;    
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form > form {
    text-align: center;
}

.title-1 {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;    
}

.subtitle i {
    font-size: 2rem; 
    color: #6a56a5;         
}

.subtitle h2 {
    font-size: 2rem;    
}

.logo-brand {
    width: 30%;
    border-radius: 5px;
}


/* Dashboard section */
a {
    color: #fff;
    transition: all .3s ease 0s;
}

a:hover {
    color: #6a56a5;    
}

.btn {
    background-color: #6a56a5;    
}

.btn:hover {
    background-color: #473e64;    
}

.btn-danger {
    background-color: #c62828;
}

.btn-danger:hover {
    background-color: #f44336;
    color: #fff;
}

.card-text {
    font-size: 1.1rem;    
}

.card-success {
    color: #3c763d;
}

.card-alert {
    color: #721c24;
}

.dashboard {
    font-size: 0.875rem;
    background-color: #edf1f5;
}

.menu-container {
    position: fixed;
    height: 100vh;
    min-height: 100vh;            
    background-color: #22252e;    
    box-shadow: 2px 0 32px rgba(0,0,0,.05);
    color: #fff;
    overflow-y: scroll;
}

.menu-container::-webkit-scrollbar {
    width: 7px;
}

.menu-container::-webkit-scrollbar-thumb {
    background-color: rgba(106, 86, 165, .5);
}

.menu-container::-webkit-scrollbar-track {
    background-color: #fff;
    color: #6a56a5;
}

.nav-wrapper {
    background-color: #2b2f3a;    
}

.brand-logo {    
    margin-left: 1rem;
    font-size: 1.3rem !important;        
    text-transform: uppercase;
    letter-spacing: .1rem;     
}

.dropdown-content {
    margin: 1rem !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #6a56a5;
    display: block;
    line-height: 22px;
    padding: 14px 16px;    
}

.sidenav-container li:hover {
    background-color: rgba(0, 0, 0, .1);
}

/* Sidenav */
.sidenav-container li {    
    margin: .5em;
    border-radius: 5px;
    padding: .5rem;
}

.sidenav-container .active {
    color: #6a56a5;    
}

.main-content {    
    margin-top: 2rem;    
    position: relative;    
    left: 25%;
}

.form-test {    
    /* margin-left: 5rem !important; */
    padding: 0 2rem 0 2rem !important;
}

.mb-divider {
    margin-bottom: 2rem;
}

.collapsible {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
}

.collapsible-header {
    background-color: transparent;
    border: none;
    padding: 0;
}

.collapsible-body {
    border: none;
    padding: 1rem;
}

/* Table */
.table-container {    
    padding: 0 2rem 0 2rem;    
    max-width: 90%;
}

.table-container .actions > a {
    margin-right: 1rem;
}

.subtitle > .left {    
    margin: 0;
}

/* Form */
label.active {
    color: #6a56a5 !important;
}

input:focus {
    border-bottom: 1px solid #6a56a5 !important;
    box-shadow: 0 1px 0 0 #6a56a5 !important;
}

/* Search */
.search-container {     
    margin-bottom: 3rem;
    box-shadow: none;
    border-bottom: 1px solid #473e64;
}

.input-field input[type="search"]:focus:not(.browser-default) {
    background-color: #edf1f5;
}

nav .input-field label.active i {
    color: #000;
}

.s-color {
    background-color: #edf1f5;    
}

.s-color .label-icon > i {
    color: #000;
}